1. Imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

2. Loading data

In [2]:
beds_df = pd.read_csv("data/Specjalnosci_lozka.csv")
beds_df.head()

,Rok,Województwo,Powiat,Gmina,Poziom sieci PSZ,Rodzaj Świadczeń,Nazwa Specjalności komórki,Kod specjalności komórki,Liczba oddziałów,Liczba łóżek 31.12,Średnioroczna liczba łóżek
0,2017,dolnośląskie,bolesławiecki,Nowogrodziec,Poza siecią,Ośrodki (Zespoły) Opieki Pozaszpitalnej,Hospicjum stacjonarne/stacjonarny ośrodek opie...,2184,1,15,15
1,2017,dolnośląskie,bolesławiecki,Bolesławiec,Szpital I stopnia,Oddziały Szpitalne i Inne Komórki Opieki Szpit...,Oddział chorób wewnętrznych,4000,1,31,31
2,2017,dolnośląskie,bolesławiecki,Bolesławiec,Szpital I stopnia,Oddziały Szpitalne i Inne Komórki Opieki Szpit...,Oddział neurologiczny,4220,1,12,12
3,2017,dolnośląskie,bolesławiecki,Bolesławiec,Szpital I stopnia,Oddziały Szpitalne i Inne Komórki Opieki Szpit...,Oddział anestezjologii i intensywnej terapii,4260,1,7,7
4,2017,dolnośląskie,bolesławiecki,Bolesławiec,Szpital I stopnia,Oddziały Szpitalne i Inne Komórki Opieki Szpit...,Oddział chorób zakaźnych,4340,1,11,11

3. Data description

In [6]:
print(beds_df.dtypes)
beds_df.describe()

Rok                            int64
Województwo                   object
Powiat                        object
Gmina                         object
Poziom sieci PSZ              object
Rodzaj Świadczeń              object
Nazwa Specjalności komórki    object
Kod specjalności komórki      object
Liczba oddziałów              object
Liczba łóżek 31.12             int64
Średnioroczna liczba łóżek    object
dtype: object

                Rok  Liczba łóżek 31.12
count  51153.000000        51153.000000
mean    2019.996931           38.363244
std        2.000657          110.572200
min     2017.000000            0.000000
25%     2018.000000           14.000000
50%     2020.000000           24.000000
75%     2022.000000           39.000000
max     2023.000000         5618.000000

4. Type conversion

since we have some columns with numeric values as strings, I will convert them to the numeric data types

plan:
- take only the object columns
- for each column: check if every value is numeric
- if so, then change the data type to int of float

In [9]:
strings_df = beds_df[[beds_df[column].dtype == 'object' for column in beds_df.columns]]
strings_df

ValueError: Item wrong length 11 instead of 51153.